.container-2 {
  padding: 0vh 20vw 10vh 20vw;
}

.intro {
  text-align: center;
}

.intro h1 {
  padding-bottom: 5vh;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 5vh;
}

p {
  padding-bottom: 5vh;
}

.submit-btn {
  top: 50%;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 80px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.btn {
  margin: 5vh 0;
}
