.logo {
  width: 10vw;
  padding-bottom: 8vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15vw;
  text-align: center;
}

.icon {
  width: 300px;
  padding: 8vh;
}

.exit {
  width: 70px;
  padding: 15px 0 0 15px;
}

p {
  padding-bottom: 10px;
}
